{% load i18n %}

{% if cart.has_items %}
<h2>Cart</h2>
<form name="fupdate" method="post" action="{% url cart_update %}" />
<input type="hidden" name="back" value="{{ redirect_url }}">
<table class="cart_checkout">
    <tr>
        <th>{% trans "Item" %}</th>
        <th>{% trans "Description" %}</th>
        <th>{% trans "Unit Price" %}</th>
        <th>{% trans "Quantity<" %}/th>
        <th>{% trans "Total" %}</th>
    </tr>
    {% for item in cart.items %}
     <tr>
         <td class="cart_item_title">{{ item.title }}</td>
         <td class="cart_item_description">{{ item.description }}</td>
         <td class="cart_item_price">{{ item.price }}</td>
         <td class="cart_item_q"><input type="text" name="count_{{ item.sku }}" value="{{ item.units }}" maxlength="3" size="4" /></td>
         <td class="cart_item_total">{{ item.total }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="4" class="cart_total_label">{% trans "Total" %}</td>
        <td class="cart_total_">{{ cart.get_total_price }}</td>
    </tr>
</table>
<p><input type="submit" name="do_update" id="do_update" value="{% trans "Update cart" %}" />&nbsp;<input type="submit" name="do_empty" id="do_empty", value="{% trans "Empty cart" %}" /><input type="submit" name="do_checkout" id="do_checkout" value="{% trans "checkout" %}"/></p>
</form>
{% else %}

{% include "cart/emptycart.html" %}

{% endif %}