<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Xemple | Coming soon</title>
	
	<style>

html, body {
	background-color:#171616;
	margin: 0;
	padding: 0;
	height: 100%;
}

#page {
	width: 100%;
	margin: 0 auto;
	min-height: 100%;
	position: relative;
}

#footer {
	position: absolute;
	bottom: 0; left: 0;
	width: 100%;
	background-color:#00b0e3;
	height:5px;
}

#splash {
	width:256px;
	height:256px;
	margin:0 auto;
}



	</style>
	
	<!--[if lte IE 6]>
	<style type="text/css">
	div#page {
		height: 100%;
	}
	</style>
	<![endif]-->
	
</head>

<body>

<div id="page">
	
	<div id="splash">
		<br /><br /><br /><br />
		<a href="{%url xadmin_staff_index %}"><img src="{{ MEDIA_URL }}/development/dev_stafftask.png"></a><br /><br /><br /><br /><img src="{{ MEDIA_URL }}/development/dev_admintasks.png">
	</div>

	<div id="footer">	
	
	</div>
	
</div>

</body>
</html>