<a href='{% url cart_update %}'>I already have a domain (Managed or not by us)</a> <br /><br /><br /><br /><br />

................................................................................................
<br /><br /><br />
<form method="post" action=".">
	I want to buy a domain name :<br />
	<p><input type="text" name="domain" value=""/></p>
	Enter the domain name you would like to buy. Don't add any extension of you want to have a suggestion of all available domain extensions.
    <p><input type="submit" value="Check availability" /></p>
</form>