{% extends "manager/manager.html" %}

{% block main_content %}

<br />
<br />
<div align=right>
<form action="." method="post" enctype="multipart/form-data">
<input  type="submit" value="Get in PDF" />
</div>
<br />



<img src="{{ MEDIA_URL }}/manager/img/x.png" width="9px">Client :<br />
{% if invoice.company %}
	<b>{{ invoice.company}}</b><br />
{% endif %}

	<b>{{ invoice.first_name }} {{ invoice.last_name }}</b><br />
	<b>{{ invoice.address }}</b><br />
	
{% if invoice.address_ext %}
	<b>{{ invoice.address_ext}}</b><br />
{% endif %}

	<b>{{ invoice.zip_code }} {{ invoice.city }} ({{ invoice.country }})</b><br />
<br />
<img src="{{ MEDIA_URL }}/manager/img/x.png" width="9px">Contact :<br />	
e. <b>{{ invoice.email }}</b><br />
t. <b>{{ invoice.phone }}</b><br />
{% if invoice.fax %}
f. <b>{{ invoice.fax}}</b><br />
{% endif %}
{% if invoice.cellphone %}
p. <b>{{ invoice.cellphone}}</b><br />
{% endif %}

<br />
<div id="main">
	<table id="tabulation">
		<tr> 	
			<th class="first">Service</th> 
			<th>Durée</th> 
			<th>Prix HT / Mois</th> 
			<th>Total HT</th> </tr>
				
		{% for i in invoice.invoice_item.all %}
			<tr class="billable_item"> 
				<td class="first">{{ i.subscription }}</td> 
				<td>{{ i.quantity }} mois</td> 
				<td>{{ i.price }} €</td> 
				<td>{{ i.total}} €</td> 
			</tr>
		{% endfor %}
		<br />
		<br />
		<br />
			<tr id="total">
				<td colspan="2">&nbsp;</td>
				<td class="totalLabel">Total HT</td>
				<td class="totals">{{ invoice.get_total_without_vat }} €</td>
			</tr>
			
			<tr id="paid">
				<td colspan="2">&nbsp;</td>
				<td class="totalLabel">TVA (19,6 %)</td>
				<td class="totals">{{ invoice.get_vat_amount }} €</td>
			</tr>
			
			<tr id="due">
				<td colspan="2">&nbsp;</td>
				<td class="totalLabel">Total TTC</td>
				<td class="totals">{{ invoice.get_total_with_vat }} €</td>
			</tr>
	</table>
</div>

</form>

{% endblock %}