{% extends "front/front.html" %}



{% block main_content %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr"> 
<head> 
	<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1" /> 
	<meta http-equiv="cache-control" content="no-store, no-cache, must-revalidate, post-check=0, pre-check=0" /> 
	<meta http-equiv="Expires" content="Mon, 26 Jul 1997 05:00:00 GMT" /> 
	<meta http-equiv="pragma" content="no-cache" /> <title>Connexion au serveur de paiement</title> 
	<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}/development/CMCIC.css" /> 
	</head> 
	<body> 
		<div id="header"> 
		<a href="{% url user_bank_return transaction.id %}">	<font size="3" color="red">>>>>>>>>>>>>>>>>>>> LIEN TEST DE RETOUR <<<<<<<<<<<<<<<<<<< </font></a><br /><br />
		
		
				<!-- <input type="hidden" name="back" value="/billing/verify_invoice" />-->
				
				
		<form method="post" action="{% url temporary_bank_return_validator transaction.id,'ok' %}">
		    <p><input type="hidden" name="quantity" value="ok"/></p>
		    <p><input type="submit" value="SIMULER UN RETOUR POSITIF DE LA BANQUE" /></p>
		</form>
		
		<form method="post" action="{% url temporary_bank_return_validator transaction.id,'error' %}">
		    <p><input type="hidden" name="quantity" value="ok"/></p>
		    <p><input type="submit" value="SIMULER UN RETOUR NEGATIF DE LA BANQUE" /></p>
		</form>
		
			<a href="http://www.cmcicpaiement.fr"><img src="{{MEDIA_URL}}/development/logocmcicpaiement.gif" alt="CM-CIC P@iement" title="CM-CIC P@iement" /></a> 
		</div> 
		
		<h1>Connexion au serveur de paiement / <span class="anglais">Connecting the payment server</span></h1> 
		
		<div id="presentation"> <p> Cette page g&eacute;n&egrave;re le formulaire de paiement avec des donn&eacute;es arbitraires.
			<br /> 
			<span class="anglais">This page generates the payment form with some arbitrary data.</span> 
			</p> 
			</div> 
			<div id="frm"> 
				<p> Cliquez sur le bouton ci-dessous pour vous connecter au serveur de paiement.<br /> 
					<span class="anglais">Click on the following button to be redirected to the payment server.</span> 
					</p> <!-- FORMULAIRE TYPE DE PAIEMENT / PAYMENT FORM TEMPLATE --> 
					
					<form action="https://paiement.creditmutuel.fr/test/paiement.cgi" method="post" id="PaymentRequest"> <p> 
						<input type="hidden" name="version" id="version" value="3.0" /> 
						<input type="hidden" name="TPE" id="TPE" value="0000001" /> 
						<input type="hidden" name="date" id="date" value="{% now "d/m/Y:H:i:s" %}" /> 
						<input type="hidden" name="montant" id="montant" value="{{ transaction.price }}" /> 
						<input type="hidden" name="reference" id="reference" value="{{ transaction.id }}" /> 
						<input type="hidden" name="MAC" id="MAC" value="bb86e48d7fcba07e53790a7250cc57e82afc6965" /> 
						<input type="hidden" name="url_retour" id="url_retour" value="http://www.xemple.com" /> 
						<input type="hidden" name="url_retour_ok" id="url_retour_ok" value="{% url user_bank_return transaction.id %}" /> 
						<input type="hidden" name="url_retour_err" id="url_retour_err" value="{% url user_bank_return transaction.id %}" /> 
						<input type="hidden" name="lgue" id="lgue" value="FR" /> 
						<input type="hidden" name="societe" id="societe" value="xemple sarl" /> 
						<input type="hidden" name="texte-libre" id="texte-libre" value="Texte Libre" /> 
						<input type="hidden" name="mail" id="mail" value="{{ user.email }}" /> 
						
						<!-- Uniquement pour le Paiement fractionn&eacute; --> 
						<input type="hidden" name="nbrech" id="nbrech" value="" /> 
						<input type="hidden" name="dateech1" id="dateech1" value="" /> 
						<input type="hidden" name="montantech1" id="montantech1" value="" /> 
						<input type="hidden" name="dateech2" id="dateech2" value="" /> 
						<input type="hidden" name="montantech2" id="montantech2" value="" /> 
						<input type="hidden" name="dateech3"	 id="dateech3" value="" /> 
						<input type="hidden" name="montantech3" id="montantech3" value="" /> 
						<input type="hidden" name="dateech4"	 id="dateech4" value="" /> 
						<input type="hidden" name="montantech4" id="montantech4" value="" /> 
						<!-- --> 
						<input type="submit" name="bouton" id="bouton" value="Connexion / Connection" /> </p> 
						</form> <!-- FIN FORMULAIRE TYPE DE PAIEMENT / END PAYMENT FORM TEMPLATE --> 
						
						</div> 
</body> </html>
								
{% endblock %}