{% extends "manager/manager.html" %}



{% block main_content %}

{{ subscription }}
<br />
<br />
<br />
<br />
Pay<br />
<br />
<form method="post" action="{% url create_minicart_item offer.id,1 %}">
	<input type="hidden" name="back" value="/billing/verify_invoice" />
    <p><input type="hidden" name="quantity" value="1"/></p>
    <p><input type="submit" value="-- 1 Month --" /></p>
</form>
<form method="post" action="{% url create_minicart_item offer.id,3 %}">
	<input type="hidden" name="back" value="/billing/verify_invoice" />
    <p><input type="hidden" name="quantity" value="3"/></p>
    <p><input type="submit" value="-- 3 Month --" /></p>
</form>
<form method="post" action="{% url create_minicart_item offer.id,6 %}">
	<input type="hidden" name="back" value="/billing/verify_invoice" />
    <p><input type="hidden" name="quantity" value="6"/></p>
    <p><input type="submit" value="-- 6 Month --" /></p>
</form>
<form method="post" action="{% url create_minicart_item offer.id,12 %}">
	<input type="hidden" name="back" value="/billing/verify_invoice" />
    <p><input type="hidden" name="quantity" value="12"/></p>
    <p><input type="submit" value="-- 12 Month --" /></p>
</form>
<br />


{% endblock %}