{% extends "front/front.html" %}



{% block main_content %}

Selected Offer : {{ offer.name }}<br />
Description : {{ offer.description }}<br />
<br /><br />													
Price / U : {{ offer_price }} euros<br />
Period : {{ quantity }} month<br />
Total w/o Taxes : {{ total_wot }} euros<br />
Taxes % : {{ vat_rate }}% ({{ user.get_profile.country }})<br />
Taxes : {{ vat }} euros<br />
Total : {{ total_ti }} euros<br />
<br />
<br />
<br />
<br />
<a href='{% url paiment_exit %}'>--------> Next</a>				



<br />
<br />
<br />
________________________________________________
<br />
<br />
<br />
<form method="post" action="">
<input type="submit" value="test if user same as loading" />
</form>				
{% endblock %}



