{% extends "manager/manager.html" %}



{% block main_content %}

Selected Offer : <img src="{{ MEDIA_URL }}/development/dev_service.png" width="50" height="50"><b>{{offer.name}}</b><br /><br />
Description : {{ offer.description|linebreaksbr }}<br />
<br /><br />													
Price / U : {{ offer_price }} euros<br />
Period : {{ quantity }} month<br />
Total w/o Taxes : {{ total_wot }} euros<br />
Taxes % : {{ vat_rate }}% ({{ user.get_profile.country }})<br />
Taxes : {{ vat }} euros<br />
Total : {{ total_ti }} euros<br />
<br />
<br />
<br />
<br />
			



<br />
<br />
<br />
________________________________________________
<br />
<br />
<br />
{% if form.errors %}&nbsp;
prout
{{ form.errors|join:", " }}
{% endif %}
<form method="post" action="">

	{{ form }}<br />
<input type="submit" value="test if user same as loading" />
</form>				
{% endblock %}



