{% extends "manager/manager.html" %}

{% block main_content %}
Bonjour {{ user.get_full_name }} !  -- -- -- --<a href='{% url manager_logout %}'>[LOGOUT]</a><br />
<p style="font-size:10px;"> [ {{ user.email }} ]</p>
<br />
<br />
<br />
<br />
First name : <b>{{ invoice.first_name }} </b><br />
Last Name : <b>{{ invoice.last_name }}</b><br />
E-mail : <b>{{ invoice.email }}</b><br />
{% if invoice.company %}
Company : <b>{{ invoice.company}}</b><br />
{% endif %}
Address : <b>{{ invoice.address }}</b><br />
{% if invoice.address_ext %}
Address : <b>{{ invoice.address_ext}}</b><br />
{% endif %}
City : <b>{{ invoice.city }}</b><br />
Zip Code : <b>{{ invoice.zip_code }}</b><br />
Country : <b>{{ invoice.country }}</b><br />
Phone : <b>{{ invoice.phone }}</b><br />
{% if invoice.fax %}
Fax : <b>{{ invoice.fax}}</b><br />
{% endif %}
{% if invoice.cellphone %}
Cellphone : <b>{{ invoice.cellphone}}</b><br />
{% endif %}
<br />
Invoice ID : <b>{{ invoice.id }}</b><br />
Product : <b>{{ invoice.get_item.subscription }}</b> <br />
Without VAT : <b>{{ invoice.get_item.total }} euros</b><br />
VAT Amount : <b>{{ invoice.get_vat_amount }} euros</b><br />
Total w. VAT : <b>{{ invoice.get_total_with_vat }} euros</b><br />
<br /><br /><br />

{% endblock %}