{% extends "manager/manager.html" %}

{% block main_content %}

<img src="{{ MEDIA_URL }}/development/dev_dashboard.png" width="100" height="100">
<br />
<br />
<div align="center">
{% if my_subs %}
Your Services 
<br /><br />
{% else %}
Vous ne disposez pas encore de services chez nous. <a href="{% url select_offer %}">Cliquez-ici pour souscrire a une de nos offres.</a>
{% endif %}
<br />



{% for sub in my_subs %}




{% ifnotequal sub.has_problem None %} 
<div style="border: thin solid #000000; background-color: #ff1515; width: 400px;">
	<img src="{{ MEDIA_URL }}/development/dev_warning.png" width="20" height="20"> {{ sub.has_problem }} <img src="{{ MEDIA_URL }}/development/dev_warning.png" width="20" height="20">
</div>
{% else %}
<div style="border: thin solid #000000; background-color: #2aff00; width: 400px;">
Service is running perfectly
</div>
{% endifnotequal %}






<div style="border: thin solid #000000; background-color: #00b9da; width: 400px;">
<img src="{{ MEDIA_URL }}/development/dev_service.png" width="50" height="50">Server name : {{ sub.service_name }}<br />
{% ifnotequal sub.time_is_running_out None %}
<div style="background-color: #fc9400; width: 400;">
<img src="{{ MEDIA_URL }}/development/dev_warning.png" width="20" height="20">
{% endifnotequal %} 
Expire le {{ sub.expiracy|date:"d/m/Y" }}
{% ifnotequal sub.time_is_running_out None %}
<img src="{{ MEDIA_URL }}/development/dev_warning.png" width="20" height="20">
</div>
{% endifnotequal %}
<br />
</div>

<br />
<br />
{% endfor %}
</div>
{% endblock %}