{% extends "manager/manager.html" %}

{% block main_content %}
Bonjour {{ user.get_full_name }} !  -- -- -- --<a href='{% url manager_logout %}'>[LOGOUT]</a><br />
<p style="font-size:10px;"> [ {{ user.email }} ]</p>
<br />
<br />
Pending Transactions :<br /><br />
{% for t in pending_transactions %}
{{ t.invoice.get_item.subscription }}<br />
Duration : {{ t.invoice.get_item.quantity }} month <br />
Invoice : {{ t.invoice }}<br />
{{ t.invoice.invoice_item.description}}
Trans. ID : {{ t.id }}<br />
Amount : {{ t.price }}<br />
Is Frozen : {% ifequal t.frozen 1 %}Frozen, pending for bank return<br />
			{% else %} Check Status<br />
			{% endifequal %}
Is Paid : 	{% ifequal t.invoice.is_paid 1 %}Paid<br />
			{% else %} Not Paid<br />
			{% endifequal %}
<br /><br /><br />
{% endfor %}
{% for s in subscription %}
{% if s.time_is_running_out %}
Subscription (id :{{ s.id }}) will expire soon<br />
Click Here to Renew your Subscription<br />
<form method="post" action=".">
    <p><input type="hidden" name="sub_id" value="{{s.id}}"/></p>
    <p><input type="submit" value="RENEW" name="renew" /></p>
</form>
{% endif %}
{% endfor %}
<br />
<br />
GOTO : 
<br />
<br />
<a href='{% url accounting_invoices %}'>-----> dev invoices</a> <br />
<a href='{% url manager_dashboard %}'>-----> dev dashboard</a> <br />
<a href='{% url manager_tdashboard %}'>-----> demo dashboard</a> <br />
<a href='{% url manager_panel %}'>-----> prout</a> <br/>
<a href='{% url manager_panel %}'>-----> cacalol</a> <br />

<br />
{% endblock %}