{% extends "manager/manager.html" %}

{% block main_content %}
Bonjour {{ user.get_full_name }} !  -- -- -- --<a href='{% url manager_logout %}'>[LOGOUT]</a><br />
<p style="font-size:10px;"> [ {{ user.email }} ]</p>
<br />
<br />
<br />
<br />
{% if my_subs %}
%%% Your Services %%%
<br /><br />
{% else %}
%%% You have no business with us, FOO ! %%%
{% endif %}
<br />
{% for sub in my_subs %}
Service : {{ sub.offer.name }} (id : {{sub.id}})<br />
Expire le {{ sub.expiracy|date:"d/m/Y" }}<br />


<br />
<br />
{% endfor %}
{% endblock %}