{% extends "manager/manager.html" %}

{% block main_content %}

<div style="border: thin solid #000000; background-color: #fd32d4;">Ticket ID :{{ ticket.id}} &nbsp;&nbsp;&nbsp;&nbsp; Date : {{ ticket.date|date }} &nbsp;&nbsp;&nbsp;&nbsp; Status : {{ ticket.status }}</div>
<br /><br />
<a href="{% url answer_ticket ticket.id %}">New<img src="{{ MEDIA_URL }}/development/dev_answer.png" width="40" height="40">Answer</a>
<br />
<br /><br /><br /><br />
{% for m in messages %}
<div style="border: thin solid #000000; background-color: #00b9da;">
{{ m.user }} | {{ m.date|date }} at {{ m.date|date:"G:i:s"}}<br />
<br />
Message : {{ m.content|linebreaksbr }}<br/>
<br /></div>
{% if m.linked_file %}
  Linked file : <a href="{{MEDIA_URL}}/{{ m.linked_file }}">{{ m.linked_file }}</a><br />
{% endif %}

<br /><br /><br />
{% endfor %}

{% endblock %}