{% extends "front/front.html" %}


{% block phrase %}
{% endblock %}


{% block main_content %}
<div class="title cblack">
<img src="{{ MEDIA_URL }}/front/img/title_apropos.png"><br>

Who are we ? Let's explain...<br><br>
</div>
<div id="technology_left" class="cgrey">

	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.<br><br>
	
	Ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</b>
	<br><br><br>

	<div class="center">
		<img src="{{ MEDIA_URL }}/front/img/technology_photo1.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<img src="{{ MEDIA_URL }}/front/img/technology_photo2.png">
	</div>
	<br><br> 
		
	 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
	 cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br>

	 <br> <br> 
	
	
	
</div>

<div id="technology_right" class="cgrey">
	
	<div class="keyword technology_keyword">Tagada</div>
	Badaboum<br>
		
	<br><br>
	
	<div class="keyword technology_keyword">Tick tock</div>
	I've only got 4 minutes to save the world !	I've only got 4 minutes to save the world !	I've only got 4 minutes to save the world !	I've only got 4 minutes to 
	save the world !	I've only got 4 minutes to save the world !<br>
	<br><br>
	
	<div class="keyword technology_keyword">Administrative contact</div>
	
	Xemple<br>
	153 bd Malesherbes<br>
	75017 Paris<br><br>
	
</div>



<div class="clear" style="height: 20px;"></div>
{% endblock %}