{% extends "front_base.html" %}

{% block menu %}
<div id="menu">
	<a href="/cube"><img class="menu_link" src="{{ MEDIA_URL }}/front/img/menu_hosting.png" data="hosting"></a>
	<a href="/technology"><img class="menu_link" src="{{ MEDIA_URL }}/front/img/menu_company.png" data="company"></a>
	<a href="/labs"><img class="menu_link" src="{{ MEDIA_URL }}/front/img/menu_labs.png" data="labs"></a>
	<a href="/status"><img class="menu_link" src="{{ MEDIA_URL }}/front/img/menu_assistance.png" data="assistance"></a>
	<a href="{% url manager_panel %}"><img class="menu_link" src="{{ MEDIA_URL }}/front/img/menu_espaceclient.png" data="espaceclient"></a>
</div>

<script language="javascript">
	var timeout;
	
	$(".menu_link").mouseover(function(){
		$(this).attr('src', '{{ MEDIA_URL }}/front/img/menu_' + $(this).attr('data') + '_hover.png');
	}).mouseout(function(){
		$(this).attr('src', '{{ MEDIA_URL }}/front/img/menu_' + $(this).attr('data') + '.png');
	});
	
	function submenu_hideall() {
		$(".submenu").fadeOut(150);
	}

</script>
{% endblock %}


