{% extends "front/front.html" %}



{% block main_content %}


<b>Front:</b><br><br>

	<li><a href="/cube">Cube</a></li>
	<li><a href="/labs">Labs</a></li>	
	<li><a href="/technology">Technology</a></li>
	<li><a href="/status">Status</a></li>
	<li><a href="/why">Why ?</a></li>
	<li><a href="/about">About</a></li>	
	<li><a href="/faq">FAQ</a></li>

<br><br>
<b>Manager:</b><br><br>

	<li><a href="/manager/tdashboard">Dashboard</a></li>
	<li><a href="/manager/tpanel">Panel</a></li>


<div class="clear" style="height: 20px;"1></div>
{% endblock %}