{% extends "front/front.html" %}


{% block main_content %}

<div class="title cblack">
<img src="{{ MEDIA_URL }}/front/img/title_labs.png"><br>

Découvrez nos <b> innovations </b> et soyez le premier à les tester !<br><br>
</div>

<div class="labs_feature">
	<div class="labs_feature_icon"><img src="{{ MEDIA_URL }}/front/img/labs_icon_django.jpg" /></div>
	<div class="labs_feature_info cgrey">
		<div class="labs_feature_title cblack">Conteneurs Django</div>
		Comme beaucoup des frameworks emmergeants, Django a des besoins particuliers. Ce conteneur virtualisé propose une solution adaptée.
		</div>
	<div class="labs_feature_status labs_feature_status_standard">
		<div class="labs_feature_status1 cblack">Statut</div>
		<div class="labs_feature_status2 cgrey">EN DEPLOIEMENT</div>
		<div class="labs_feature_progressbar labs_feature_progressbar_green"><img src="{{ MEDIA_URL }}/front/img/labs_progressbar_grey.jpg" width="0" height="3"></div>
		<div class="labs_feature_status3 clightgrey">DISPONIBLE</div>		
	</div>
</div>

<div class="labs_feature">
	<div class="labs_feature_icon"><img src="{{ MEDIA_URL }}/front/img/labs_icon_xserve.jpg" /></div>
	<div class="labs_feature_info cgrey">
		<div class="labs_feature_title cblack">Virtualisation XServe</div>
		Certains Mac-Addicts (a raison) verront en cette offre la possibilité de disposer enfin de Mac OS 10.6 serveur, a un coût bien inférieur a celui d'un dédié.
		</div>
	<div class="labs_feature_status labs_feature_status_standard">
		<div class="labs_feature_status1 cblack">Statut</div>
		<div class="labs_feature_status2 cgrey">EN DEVELOPPEMENT</div>
		<div class="labs_feature_progressbar labs_feature_progressbar_green"><img src="{{ MEDIA_URL }}/front/img/labs_progressbar_grey.jpg" width="50" height="3"></div>
		<div class="labs_feature_status3 clightgrey">DEBUT 2010</div>		
	</div>
</div>

<div class="labs_feature">
	<div class="labs_feature_icon"><img src="{{ MEDIA_URL }}/front/img/labs_icon_ror.jpg" /></div>
	<div class="labs_feature_info cgrey">
		<div class="labs_feature_title cblack">Conteneurs Ruby on Rails</div>
		La flexibilité et l'utilité de RoR n'étant plus a démontrer, nous developpons un déploiement automatique d'un conteneur virtualizé pré-configuré pour l'utilisation de Ruby.
		</div>
	<div class="labs_feature_status labs_feature_status_beta">
		<div class="labs_feature_status1 cblack">Statut</div>
		<div class="labs_feature_status2 cgrey">EN DEVELOPPEMENT</div>
		<div class="labs_feature_progressbar labs_feature_progressbar_yellow"><img src="{{ MEDIA_URL }}/front/img/labs_progressbar_grey.jpg" width="80" height="3"></div>
		<div class="labs_feature_status3 clightgrey">ETE 2010</div>		
	</div>
</div>

<div class="labs_feature">
	<div class="labs_feature_icon"><img src="{{ MEDIA_URL }}/front/img/labs_icon_iphone.jpg" /></div>
	<div class="labs_feature_info cgrey">
		<div class="labs_feature_title cblack">iPhone manager : iXemple</div>
		Cette application iPhone vous permettra de vérifier en live le status de vos serveurs, ainsi que d'y effectuer des opérations basiques : Démarage, Re-démarage, Arrêt; ainsi que la consultation des vos                   
		informations de facturation.
		</div>
	<div class="labs_feature_status labs_feature_status_available">
		<div class="labs_feature_status1 cblack">Statut</div>	
		<div class="labs_feature_status2 cgrey">DÉPLOYÉ</div>
		<div class="labs_feature_progressbar"></div>		
		<div class="labs_feature_status3 clightgrey">DISPONIBLE</div>		
	</div>
</div>

<div class="clear" style="height: 20px;"1></div>
{% endblock %}