{% extends "front/front.html" %}


{% block phrase %}
{% endblock %}


{% block main_content %}
<div class="title cblack"><img src="{{ MEDIA_URL }}/front/img/title_technologie.png"></div>

<div id="technology_left" class="cgrey">

	<b>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.<br><br>
	
	Ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</b>
	<br><br><br>
	
	<div class="center"><img src="{{ MEDIA_URL }}/front/img/technology_catchphrase.png"></div><br><br>
	
	 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
	 cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br>
	 
	<div class="center">
		<img src="{{ MEDIA_URL }}/front/img/technology_photo1.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<img src="{{ MEDIA_URL }}/front/img/technology_photo2.png">
	</div><br><br> 
	
	
</div>

<div id="technology_right" class="cgrey">
	
	<div class="keyword technology_keyword">technical specifications</div>
	Machine: <b>Dell Poweredge R905</b><br>
	Processor: <b>Quadri Quad-Core AMD</b><br>
	RAM: <b>16GB DDR</b><br>
	Connection: <b>2 X 1 Gbp/</b><br>	
	Disk per shelf: <b>320 GB</b><br>	
	Type of disk: <b>RAID 60 SAS</b><br>	
	<br><br>
	
	<div class="keyword technology_keyword">specifications</div>
	<b>N+2</b> redundancy backup power<br>
	<b>N+2</b> redundancy cooling system<br>
	<b>24/7</b> monitored fire suppression<br>
	<b>24/7</b> armed security<br>
	48" raised floors<br>				
	<br><br>
	
	<div class="keyword technology_keyword">datacenter</div>
	<img src="{{ MEDIA_URL }}/front/img/technology_telehouse.png">
	
	Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
	cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br>
	
</div>



<div class="clear" style="height: 20px;"></div>
{% endblock %}