{% extends "front/front.html" %}


{% block phrase %}
{% endblock %}


{% block main_content %}
<div class="title cblack"><img src="{{ MEDIA_URL }}/front/img/title_technologie.png"></div>

<div id="technology_left" class="cgrey">

	<b>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.<br><br>
	
	Ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</b>
	<br><br><br>
	
	<div class="center"><img src="{{ MEDIA_URL }}/front/img/technology_catchphrase.png"></div><br><br>
	
	 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
	 cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br>
	 
	<div class="center">
		<img src="{{ MEDIA_URL }}/front/img/technology_photo1.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<img src="{{ MEDIA_URL }}/front/img/technology_photo2.png">
	</div><br><br> 
	
	
</div>

<div id="technology_right" class="cgrey">
	
	<div class="keyword technology_keyword">spécifications techniques</div>
	Machines: <b> HP et Dell (Xemple)</b><br>
	Réseau: <b>Cisco Systems, Vyatta</b><br>
	RAM: <b>16GB DDR</b><br>
	Connection: <b>2 X 1 Gbp/s</b><br>	
	Transitaires: <b>CogentCo, Level3, Colt</b><br>	
	Peering: <b> Freeix, Panap</b><br>	
	<br><br>
	
	<div class="keyword technology_keyword">la sécurité de vos données</div>
	<b>N+2</b> redondance electrique<br>
	<b>N+2</b> redondance du système de réfrigération<br>
	<b>24/7</b> contrôle anti-incendie<br>
	<b>24/7</b> sécurité renforcée<br>
	<b>48m²</b> de surface d'extension<br>				
	<br><br>
	
	<div class="keyword technology_keyword">datacenter</div>
	<img src="{{ MEDIA_URL }}/front/img/technology_telehouse.png">
	
	Telehouse est depuis longtemps connu et reconnu pour sa fiabilité, sa sécurité, son sérieux, et son ambition a toujours aider ses clients a faire face
	aux problèmes d'extension. Telehouse accompagne aussi ses utilisateurs dans les migrations complexes,
	la redondance des infrastructures, et la mise en relation des transitaires.<br><br>
	
</div>



<div class="clear" style="height: 20px;"></div>
{% endblock %}