{% extends "manager/manager.html" %}


{% block main_content %}

<form action="" method="post">

	{% if form.old_password.errors %}
	{{ form.old_password.html_error_list }}
	{% endif %}
	&nbsp;Old Password {{ form.old_password }}<br/>


	{% if form.new_password1.errors %}
	{{ form.new_password1.html_error_list }}
	{% endif %}
	&nbsp;New Password {{ form.new_password1 }}<br/>


	{% if form.new_password2.errors %}
	{{ form.new_password2.html_error_list }}
	{% endif %}
	&nbsp;New Password (again) {{ form.new_password2 }}<br/>

<p><input type="submit" value="Change my password" /></p>
</form>

{% endblock %}