{% extends "publicweb/publicweb.html" %}


{% block phrase %}
<div id="phrase">
	<img src="{{ MEDIA_URL }}/publicweb/img/phrase_offrezvous.png">
</div>
{% endblock %}


{% block main_content %}
<div id="sousmenu">
	<img src="{{ MEDIA_URL }}/publicweb/img/sousmenu_general.jpg" onMouseOver="this.src='{{ MEDIA_URL }}/publicweb/img/sousmenu_general_hover.jpg'" onMouseOut="this.src='{{ MEDIA_URL }}/publicweb/img/sousmenu_general.jpg'"><img src="{{ MEDIA_URL }}/publicweb/img/sousmenu_fonctionnalites.jpg" onMouseOver="this.src='{{ MEDIA_URL }}/publicweb/img/sousmenu_fonctionnalites_hover.jpg'" onMouseOut="this.src='{{ MEDIA_URL }}/publicweb/img/sousmenu_fonctionnalites.jpg'"><img src="{{ MEDIA_URL }}/publicweb/img/sousmenu_administration.jpg" onMouseOver="this.src='{{ MEDIA_URL }}/publicweb/img/sousmenu_administration_hover.jpg'" onMouseOut="this.src='{{ MEDIA_URL }}/publicweb/img/sousmenu_administration.jpg'"><img src="{{ MEDIA_URL }}/publicweb/img/sousmenu_faq.jpg" onMouseOver="this.src='{{ MEDIA_URL }}/publicweb/img/sousmenu_faq_hover.jpg'" onMouseOut="this.src='{{ MEDIA_URL }}/publicweb/img/sousmenu_faq.jpg'">
</div>
<div id="content_left">
	<div id="content_left_inside">
		<img src="{{ MEDIA_URL }}/publicweb/img/passezaucube.png"><br/>
		<span class="gris_courant">A cluster-based, modern hosting service powered by hundreds of servers working in tandem to power your websites, applications and email with unrivaled power, burstability and reliability.</span><br/><br/><br/>
		
		<div id="overv1">
			<span class="gris_baseline">Lorem ipsum dolor sit amet, consectetur</span><br/>
			<span class="gris_courant_light">Pellentesque ipsum velit, cursus id, tristique nec, eleifend id, leo. Maecenas felis. Curabitur sollicitudin dui nec sapien. Lorem ipsum dolor sit amet.</span>
		</div>
		
		<div id="overv2">
			<span class="gris_baseline">Integer ligula tellus, faucibus nec</span><br/>
			<span class="gris_courant_light">Nullam facilisis posuere lectus. Suspendisse vestibulum lacus ut arcu. Vestibulum porta. Mauris id metus nec nisl tincidunt varius.</span>
		</div>
		
		<div id="overv3">
			<span class="gris_baseline">Django add-on available.</span><br/>
			<span class="gris_courant_light">Nullam facilisis posuere lectus. Suspendisse vestibulum lacus ut arcu. Vestibulum porta. Mauris id metus nec nisl tincidunt varius.</span>
		</div>
	</div>
</div>
<div id="content_right">
	<div class="keyword">
		<span class="keywords">flexible.</span><br/>
		<span class="gris_courant">Multi-site hosting supports unique email addresses and sub-FTP users for every domain.</span>
	</div>
	<div class="keyword">
		<span class="keywords">instantané.</span><br/>
		<span class="gris_courant">Easy to use, optimized auto-installers for WordPress, Drupal, ZenCart & Magento.</span>
	</div>
	<div class="keyword">
		<span class="keywords">simple.</span><br/>
		<span class="gris_courant">Multi-site hosting supports unique email addresses and sub-FTP users for every domain.</span>
	</div>
	<div class="keyword">
		<span class="keywords">innovant.</span><br/>
		<span class="gris_courant">Virtual bolt-on dedicated containers available to power Rails, Django and MySQL apps.</span>
	</div>
	<div class="keyword">
		<span class="keywords">abordable.</span><br/>
		<span class="gris_courant">From the first byte served, your site is hosted on advanced clustered technology designed for high-traffic.</span>
	</div>
	<img src="{{ MEDIA_URL }}/publicweb/img/activation.jpg">
</div>
<div style="clear:both; height:20px;"></div>
{% endblock %}