{% extends "publicweb_base.html" %}

{% block menu %}
<div id="menu">
	<img src="{{ MEDIA_URL }}/publicweb/img/menu_hebergement.png" onMouseOver="this.src='{{ MEDIA_URL }}/publicweb/img/menu_hebergement_hover.png'" onMouseOut="this.src='{{ MEDIA_URL }}/publicweb/img/menu_hebergement.png'">
	<img src="{{ MEDIA_URL }}/publicweb/img/menu_societe.png" onMouseOver="this.src='{{ MEDIA_URL }}/publicweb/img/menu_societe_hover.png'" onMouseOut="this.src='{{ MEDIA_URL }}/publicweb/img/menu_societe.png'">
	<img src="{{ MEDIA_URL }}/publicweb/img/menu_labs.png" onMouseOver="this.src='{{ MEDIA_URL }}/publicweb/img/menu_labs_hover.png'" onMouseOut="this.src='{{ MEDIA_URL }}/publicweb/img/menu_labs.png'">
	<img src="{{ MEDIA_URL }}/publicweb/img/menu_assistance.png" onMouseOver="this.src='{{ MEDIA_URL }}/publicweb/img/menu_assistance_hover.png'" onMouseOut="this.src='{{ MEDIA_URL }}/publicweb/img/menu_assistance.png'">
	<img src="{{ MEDIA_URL }}/publicweb/img/menu_espaceclient.png" onMouseOver="this.src='{{ MEDIA_URL }}/publicweb/img/menu_espaceclient_hover.png'" onMouseOut="this.src='{{ MEDIA_URL }}/publicweb/img/menu_espaceclient.png'">
</div>
{% endblock %}


